---
---

@import "{{ site.theme }}";
header {
  h1, h1 a {
   color: #285BB1;
  }
  p {
    color: #00AE7A;
  }
  p.view a {
    color: #285BB1;
  }
  p.view small {
    color: #ABC3EB;
  }
}

form#gform{
  ul {
     list-style: none;
  }
  li {
    margin-top: 1em;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    }
}
